<h3>Hello! <%= current_user.username %></h3>
<p>
  Your Eth Address: <%= current_user.eth_address %><br>
  Your Eth Nonce: <%= current_user.eth_nonce %>
</p>
<p>
<% if current_user.is_minted? %>
<div class="eth_token">
  <p class="token_name"><%= current_user.token_detail[:name] %></p>
  <%= image_tag current_user.token_detail[:image] %>
</div>
<% else %>
  <%= button_to "Mint", mint_path, method: :post, class: 'eth_connect' %>
  <p class="eth_mint_result"></p>
  <%= javascript_pack_tag "users_mint" %>
<% end %>
<%= button_to "Logout", logout_path, method: :delete %>
</p>
